.box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #9c6644
    border-radius: 20px
    height: 250px
    width: 280px
    h1
        color: #ffffff
        font-size: 40px
        font-weight: 700
    input
        width: 200px
        height: 55px
        border-radius: 20px
        margin: 23px 0
        font-size: 20px
    .btn
        background-color: #ffffff
        border-radius: 19px
        width: 80px
        height: 42px
        p
            font-size: 17px
            color: #242426
.minibox
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 250px
    width: 280px
    h2
        font-size: 22px
        text-align: center
        border: 3px solid #727d88
        border-radius: 25px
        margin-bottom: 20px
        padding: 10px 0
        width: 200px
        height: 48px