.box
    display: flex
    justify-content: center
    flex-direction: column
    background-color: #9c6644
    border-radius: 20px
    // padding: 20px
    height: 250px
    width: 280px
    h1
        color: #ffffff
        font-size: 40px
        font-weight: 700
        margin-left: 80px
    input
        width: 200px
        height: 55px
        border-radius: 20px
        margin: 20px 0
        font-size: 20px
    .btn
        h2
            background-color: #ffffff
            font-size: 18px
            color: #242426
